@import "_animations";

/*
Buttons
*/
.btn {
  @apply inline-flex items-center relative transition ;
  @apply rounded-md font-medium focus:outline-none cursor-pointer;

  .icon {
    @apply relative;
  }

  .btn--text {
  }

  .btn--text + .icon {
    @apply ml-2;
  }

  .icon + .btn--text {
    @apply ml-2;
  }

  &:hover, &:active, &:focus {
    outline: none;
  }
}

/* NNTH: Fill Effects
.btn:after {
  @apply block absolute bottom-0 left-0 right-0;
  @apply bg-primary-500 dark:bg-white;
  content: " ";
  height: 0;
  width: 100%;
  transition: all 150ms linear;
}

.btn:hover {
  &:after {
    height: 100%;
  }
} */


/*
Buttons Styles
------------------------------------ */

/* 
Default Button
*/
.btn-default {
  @apply px-2 py-1 items-center justify-center;
  @apply text-sm font-medium text-gray-900 dark:text-white border border-transparent;
  @apply bg-gray-500 bg-opacity-10 dark:bg-gray-300 dark:bg-opacity-10;
}

@media (hover: hover) and (pointer: fine) {
  .btn-default {
    @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
    @apply dark:hover:text-white dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
  }
}

.btn-default.active {
  @apply text-primary-700 dark:text-white;
}

.btn-default .icon {
  @apply text-sm;
}

/*
Sizes 
*/
.btn-default-sm {
  @apply text-xs;
}

.btn-default-lg {
  @apply text-base py-2 px-8;
}

/* Colors */
.btn-primary {
  @apply border-transparent hover:border-transparent bg-primary-700 text-primary-100 hover:bg-primary-900 hover:text-white;
}

.btn-secondary {
  @apply bg-secondary-400 text-secondary-900 hover:bg-primary-100 hover:text-primary-700;
}

.btn-neutral {
  @apply bg-white dark:bg-gray-700 dark:bg-opacity-50;
}

.btn-red {
  @apply !bg-red-500 hover:!bg-red-700 !text-white hover:!text-white;
}

.btn-yellow {
  @apply !bg-yellow-500 hover:!bg-yellow-700 !text-white hover:!text-white;
}

.btn-blue {
  @apply !bg-blue-500 hover:!bg-blue-700 !text-white hover:!text-white;
}

.btn-blue-400 {
  @apply !bg-blue-400 hover:!bg-blue-600 !text-white hover:!text-white;
}

.btn-blue-700 {
  @apply !bg-blue-700 hover:!bg-blue-900 !text-white hover:!text-white;
}

.btn-purple {
  @apply bg-purple-600 hover:bg-purple-700 hover:border-transparent text-white hover:text-white;
  @apply dark:bg-purple-900 dark:hover:bg-purple-800 dark:hover:border-transparent;
}




/* Sizes */
.btn-lg {
  @apply py-1 px-4;
}
.btn-lg .btn--text {
  @apply text-base;
}

.btn-rounded {
  @apply rounded-full;
}

/*
Vote Buttons
*/
.btn-post-vote {
  @apply px-2 py-1 justify-center;
  @apply border border-green-500 text-green-500;
  @apply hover:border-green-500 hover:bg-green-50 hover:text-green-500;
  @apply dark:hover:bg-transparent dark:hover:text-white;
}

.btn-post-vote.active,
.btn-post-vote_sm.active {
  @apply bg-green-500 text-white;
}

.btn-post-vote_sm {
  @extend .btn-post-vote;
  @apply bg-white border border-gray-900 border-opacity-10 md:border-opacity-5;
  @apply px-2 py-1 md:px-5 md:py-4;
  @apply dark:bg-deepgray-100;
}

.card .btn-post-vote,
.card .btn-post-vote_sm {
  strong {
    @apply font-normal;
  }
}

.btn-post-vote_sm .btn-post-vote_total {
  @apply leading-none;
}

/* 
Link Visit Button 
*/
.btn-post-link {
  @apply text-sm justify-center items-center px-0 py-1 relative;
}

.btn-post-link .icon {
  @apply text-sm;
}



/* 
Wallet Button 
*/
.btn-login {
  .avatar {
    @apply w-5 h-5;
  }

  .btn--text {
  }

  max-height: 30px;

}

@media (max-width: 768px) {
  .btn-login {
    .btn--text {
      @apply sr-only overflow-hidden whitespace-nowrap overflow-ellipsis;
      max-width: 80px;
    }
  }
}


/* 
Theme / Language Button 
*/
.btn-switch-theme {
  .btn--text {
    @apply sr-only;
  }
  .fa-moon {
    @apply opacity-20 transition;
  }
  .fa-sun {
    @apply ml-1 opacity-90 transition;
  }
}

.btn-switch-theme.active {
  .fa-moon {
    @apply opacity-100;
  }
  .fa-sun {
    @apply opacity-20 text-white;
  }
}

.btn-switch-lang {
  .icon {
    @apply w-px-16;
  }
}


/* 
Group Buttons 
*/
.btn-group {
  @apply flex justify-evenly;
}

.btn-group-filter {
  @apply rounded-md text-xs transition;
  @apply bg-gray-400 bg-opacity-10 dark:bg-gray-200 dark:bg-opacity-10;
  padding: 3px;
}

/* .btn-group-filter {
  @apply text-xs space-x-2 lg:space-x-4;
} */

.btn-filter,
.btn-filter-active {
  @apply px-2 py-1 justify-center relative overflow-hidden;
  @apply rounded-md bg-transparent opacity-50;
  &:hover {
    @apply opacity-100;
  }
}

.btn-filter-active {
  @apply justify-center cursor-pointer pointer-events-none;
  @apply bg-white text-opacity-100 dark:text-white dark:bg-deepgray-100 shadow-sm opacity-100;
}



/*
"Show More" Button
*/
.btn-nav {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-400 bg-opacity-10 hover:bg-purple-100 hover:text-purple-700;
  @apply text-sm;
  @apply dark:text-white dark:hover:bg-deeppurple-100;
}

.btn-loading {
  @apply justify-center py-2 px-4 w-full;
  @apply bg-gray-100 hover:bg-purple-100 hover:text-purple-700;
  @apply text-sm;
}

/* 
Button Caret
*/
.btn--caret-down,
.btn--caret-right,
.btn--caret-left,
.btn--caret-up {
  @apply relative transition-all left-0 right-0;
  height: 8px;
  width: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
}

.btn--caret-right {
  @apply ml-1.5;
  transform: rotate(-45deg);
}

.btn:hover .btn--caret-right {
  @apply -right-0.5;
}

.btn--caret-left {
  @apply mr-1;
  transform: rotate(135deg);
}

.btn:hover .btn--caret-left {
  @apply -left-0.5;
}

.btn--caret-down {
  @apply ml-1 -mt-0.5;
  transform: rotate(45deg);
}

.btn--caret-up {
  @apply ml-1 -mb-0.5;
  transform: rotate(-135deg);
}

/* Dropdown Button */
.dropdown-arrow {

}

/* Page Back + Close Button */
.page-back .btn,
.page-close .btn {
  @apply  w-px-32 h-px-32 justify-center items-center  rounded-full;
  @apply text-sm opacity-50 hover:opacity-100 hover:bg-gray-400 hover:bg-opacity-20 ;
}

/* Close Button */
.btn-close {
  @apply text-sm font-normal transition justify-center items-center rounded-full;
  @apply text-gray-900 bg-gray-500 bg-opacity-10 border border-transparent;
  @apply hover:bg-primary-50 hover:border-purple-500 hover:text-primary-700 focus:outline-none focus:ring-0;
  @apply dark:text-white dark:bg-gray-400 dark:bg-opacity-20;
  @apply dark:hover:bg-deeppurple-300 dark:hover:border-primary-500;
}

.btn-close .btn--text {
  @apply text-3xs uppercase !mx-0;
}


/* Comment Form Button */
.comment-btn {
  @apply text-sm justify-center px-0 w-20 text-gray-500 bg-gray-400 bg-opacity-20 hover:bg-primary-100 hover:text-primary-700 border border-transparent hover:border-primary-500 leading-4;
  @apply dark:hover:bg-deeppurple-300 dark:text-gray-200 dark:hover:text-white;
  max-height: 38px;
}