/*
Generic Styles
----------------------------------------------*/
.cards-list {
 @apply flex flex-col; 
  
}

.card {
  @extend %global-padding;
  @apply flex h-full relative;
}

.card-media,
.card-media-blank {
  @apply flex flex-col flex-shrink-0 overflow-hidden;
}

.card-media-img {
  @apply overflow-hidden rounded-sm;
}

.card-img {
  @apply w-full h-full object-center object-cover;
}

.card-title {
  @apply text-sm font-medium leading-snug;
}

.card-title .badge {
  @apply mr-1 relative -top-0.5;
}

.card-meta {
  @apply text-xs text-gray-400;
}

.card-link {
  @apply block;
}

.card-header {
  @apply flex justify-between px-4 md:px-6 w-full;
}

.card-header .avatar {
  @extend %Img40;
  @apply rounded-full;
}

.card-body {
  @apply flex flex-col w-full;
}

.card-body-header {
  @apply flex justify-between items-end relative -mt-1;
}

.card-footer {
  @apply flex flex-col px-4 md:px-6 py-4 w-full;
}

.card-badges {
  @apply relative ml-1 -mt-1;
}

.card-badges .badge {
  @apply text-2xs px-1 py-0.5 ml-1 mt-0;
}

/* Overlay */
.card-link--overlay {
  @apply absolute inset-0 !m-0 z-0;
}


/* 
Generic Card 
----------------------------------------------*/
.card-default {
  @apply flex-col p-0;
  @apply bg-white border-0 dark:bg-gray-800 rounded-lg shadow;
  @apply text-sm;
}

.card-default .card-header {
  @apply p-4 lg:px-6 lg:py-4 text-base font-medium border-b border-gray-200 dark:border-gray-700; 
}

.card-default .card-body {
  @apply p-4 lg:p-6 flex-shrink-0 flex-grow;
}


/* 
Card Post (News, Projects,...)
----------------------------------------------*/
.card-post {
  @apply border-t border-b border-t-transparent border-b-gray-400 border-opacity-20 cursor-pointer;
  @apply px-3 md:px-4 space-x-3 md:space-x-4;
  @apply hover:bg-yellow-100 hover:bg-opacity-20 dark:hover:bg-deeppurple-700;
}

/* Active */
.card-post.active {
  @apply bg-yellow-100 bg-opacity-50 dark:bg-primary-900;
}

/* Read */
a:visited .card-post,
.card-post.read {
  .card-title,
  .metadata-source,
  .metadata-date {
    @apply opacity-50;
  }
}

/* Metadata */
.card-post .metadata-source .metadata-value {
  @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
  max-width: 140px;
}

/* Coin Badge */
.card-post .badge-coin {
  @apply opacity-80;
}

.card-post.active .badge-coin,
.card-post:hover .badge-coin {
  @apply opacity-100 shadow-sm;
}

@media (hover: hover) and (pointer: fine) {
  .card-post .badge-coin {
    @apply opacity-50;
  }
}


/* has Comment */
.card-post .metadata-commentcount {
  @apply mr-1 hidden transition;
}

.card-post.hasComment .metadata-commentcount {
  @apply inline-flex text-primary-500;
}

/* has Vote */
.card-post .metadata-votecount {
  @apply mr-1 hidden transition;
  .icon {
    @apply text-base relative leading-none;
    bottom: -1px;
  }
}

.card-post.hasVote .metadata-votecount {
  @apply inline-flex text-green-500;
}

/* Card Title */
.card-post .card-link {
  @apply inline;
}

.card-post .metadata-wrapper {
  @apply mt-1.5;
}

/* Card Body */
.card-post .card-body {
  @apply flex flex-col h-full w-full relative top-0.5;
}

/* Media */
.card-post .card-media {
  @apply relative pr-0 rounded overflow-hidden;
}

.card-post .card-media-img {
  @apply rounded overflow-hidden w-px-40 h-px-40;
}

.card-post .card-media .card-img {
  @apply flex-shrink-0 w-px-48 h-px-48 relative -top-1;
}

.card-post .card-media-blank {
  @apply flex-shrink-0 w-px-40 h-px-40 opacity-0;
  @apply bg-gray-200;
  @apply inline-flex justify-center items-center;
}

.card-post .card-media-blank .icon {
  @apply text-xl leading-none;
}

.card-post .card-media-blank img {
  @apply w-px-24 h-px-24;
}


/* 
Card Social 
----------------------------------------------*/
.card-social {
  @apply flex-col items-center content-center mx-0 overflow-hidden;
  @apply relative transition-all;
  @apply border-t border-gray-500 border-opacity-10 md:border md:border-opacity-10 md:rounded;
  @apply lg:hover:bg-shadeyellow-100;


  .card-body {
    @apply h-full justify-items-stretch py-4;
  }
  
  .card-header {
    @apply p-0 flex flex-row justify-between items-center;
  }
  
  .card-footer {
    @apply w-full text-sm p-0;
  }
  
  .card-body--header {
    @apply mb-4 flex flex-row justify-between;
  }
  
  .card-body--main {
    @apply flex flex-col pb-1;
  }
  
  .card-title {
    @apply text-sm md:text-base font-semibold;
  }
  
  .card-text {
    @apply text-sm text-gray-700 transition-colors;
    @apply dark:text-gray-300;
  }

}


/* Media */
.card-social .card-media {
  @apply mt-4 h-auto w-full overflow-hidden;
  @apply bg-no-repeat bg-cover bg-center;
  @apply border border-gray-900 border-opacity-10 rounded-lg;
  min-height: 12rem;
  max-height: 16rem;
}

@media only screen and (max-width: 640px) {
  .card-social .card-media {
    min-height: 16rem;
    max-height: 24rem;
  }
}

.card-social .card-media img {
  @apply w-auto h-auto opacity-0;
}

/* Metadata */
.card-social {
  .metadata {
    @apply mr-1.5;
  }

  .metadata + .metadata {
    &::before {
      @apply mr-1 leading-4;
    }
  }

  .card-header .metadata-wrapper {
    @apply pr-5 ;
  }

  .card-header .metadata-wrapper + .metadata-wrapper {
    @apply pr-0 flex-wrap;
  }

  .card-footer .metadata-wrapper {
    @apply w-full justify-between;
  }
}

/* Card Icon */
.card-social {
  .icon-twitter {
    @apply text-lg text-blue-200 transition transform scale-90;
    @apply absolute right-4 top-4;
  }

  &:hover .icon-twitter {
    @apply text-blue-500 scale-100;
  }
}

.dark .card-social .icon svg {
  stroke: #fff;
  fill: #fff;
}


/* Cards Team 
--------------------------------------*/
.card-team {
  @apply flex-col justify-center lg:items-center h-full text-center;
  @apply p-0;

  .avatar {
    @apply rounded-lg lg:rounded-full;
  }

  .card-body {
    @apply flex-col items-stretch h-full mt-6 text-sm;
  }

  .card-body-header {
    @apply flex-col items-start lg:justify-center lg:items-center mb-2;
  }
  
  .card-body-header h3 {
    @apply mb-0 text-left lg:text-center text-base font-semibold max-w-max;
    @apply whitespace-nowrap overflow-hidden overflow-ellipsis;
    max-width: 140px;
  }

  .card-body-header p {
    @apply text-sm mb-0 text-left lg:text-center text-secondary-500;
  }

  .card-body-main p {
    @apply opacity-50 text-left lg:text-center;
  }

  .cta-wrapper {
    @apply mt-4 space-x-2;
  }

  .cta-wrapper .btn {
    @apply border-0;
  }

}


/* Cards in Page 
--------------------------------------*/
.card-pagecontent  {
  @apply flex-col p-0 text-sm mb-8;
  @apply border border-gray-400 border-opacity-10 rounded-lg;
  @apply bg-gray-50 dark:bg-gray-900;

  .card-header {
    @apply p-4;
  }

  .card-title {
    @apply font-semibold text-base;
  }

}

.card-pagecontent .card-body {
    @apply overflow-hidden rounded-lg;
    @apply bg-white dark:bg-gray-800;
  }