/* 
Various UI Components Style
*/


/* Steps
-------------------------------*/
.steps {
  @apply flex;
  @apply bg-gray-100 bg-gradient-to-r dark:bg-primary-900 dark:from-primary-900 dark:to-primary-900 divide-x divide-gray-400 divide-opacity-20 lg:divide-x-0;
}

.step {
  @apply flex flex-1 relative;
}

.step-body {
  @apply px-6 py-4 flex w-full items-center text-sm font-medium cursor-default;
}

/* Current */
.step--current {
}

/* 
Step Icons 
*/
.step-body--icon {
  @apply flex flex-shrink-0 w-8 h-8 items-center justify-center rounded-full;
  @apply border-2 border-gray-400;
}

/* Current */
.step--current .step-body--icon {
  @apply border-primary-600 dark:border-white rounded-full;
}

/* Completed */
.step--completed .step-body--icon {
  @apply border-green-400 bg-green-400 dark:border-green-600 dark:bg-green-600 rounded-full;
}

/* 
Step Icons Text
*/
.step-body--icon--text {
}

/* Current */
.step--current .step-body--icon--text {
  @apply text-primary-600 dark:text-white;
}

/* Completed */
.step--completed .step-body--icon--text {
  @apply text-white dark:text-white;
}

/* 
Step Content
*/
.step-body--content {
  @apply flex flex-col ml-4;
}

/* 
Step Title 
*/
.step-body--title {
  @apply text-base font-medium;
}

/* Current */
.step--current .step-body--title {
  @apply font-medium text-primary-600 dark:text-white;
}

/* Completed */
.step--completed .step-body--title {
  @apply border-primary-600 rounded-full;
}


/* 
Step Text
*/
.step-body--text {
  @apply hidden md:block text-xs mt-0.5 opacity-50;
}

/* Current */
.step--current .step-body--text {
}

/* Completed */
.step--completed .step-body--text {
}

/* .step--arrow {
  @apply hidden md:block absolute top-0 right-2 h-full w-6;
} */