/*
Content Elements
*/

@import '_presets';

/*
Lists Styles 
-------------------------------- */
.list-group {
}


.list-group--link {
  @apply block cursor-pointer;
}

.list-group--link:hover {
  @apply bg-shadeyellow-100 dark:bg-deeppurple-500;
}

.list-group--item {
  @apply flex flex-wrap justify-between items-center;
  @apply p-4;
  @apply border-b border-gray-500 border-opacity-10;
  &:last-child {
    @apply border-opacity-0;
  }
}

.list-group-v .list-group--item {
  @apply flex-col justify-start items-start;
}


.list-group--item--title {
  @apply flex items-center md:items-center text-xs uppercase font-medium;
}

.list-group--item--text {
  @apply text-sm mt-2 line-clamp-3;
}

.list-group--item--media {
  @apply flex justify-center items-center w-px-24 h-px-24 md:w-px-32 md:h-px-32 mr-2 md:mr-4 rounded-full flex-shrink-0 overflow-hidden;
  @apply bg-primary-500 text-white;
  img {
    @apply object-cover h-full;
  }
  .icon {
    @apply md:text-base;
  }
}


/*
Lists Group Compact
-------------------------------- */
.list-group-sm {
  @extend .list-group;
}

.list-group-sm--link {
  @extend .list-group--link;
}

.list-group-sm--link:hover {
  @apply bg-gray-50;
}

.list-group-sm--item {
  @extend .list-group--item;
  @apply px-0 py-2;
}




/* 
Metadata 
----------------------------------- */
.metadata-wrapper {
  @apply flex flex-wrap;
  @apply text-xs;
}

.metadata {
  @apply inline-flex justify-items-center items-center;
}

.metadata + .metadata {
  @apply ml-1.5;
  &::before {
    @apply block mr-1.5 text-xl leading-4;
    content: "\00B7";
  }
}

.metadata-wrapper_nodivide {
  .metadata + .metadata {
    @apply ml-1.5;
    &::before {
      @apply hidden;
    }
  }
}

.metadata-socialusername {
  @apply block text-base font-semibold mb-0.5 truncate;
  width: 240px;
}

.metadata-value--img {
  @apply hidden h-px-16 mr-1;
}

.project-metadata_type {

  &_token {
    @apply text-green-700;
  }
  &_dapp {
    @apply text-blue-700;
  }
  &_nft {
    @apply text-purple-700;
  }
  &_defi {
    @apply text-pink-700;
  }
}

.project-metadata_platform {
  @apply capitalize;
}

.project-comment_count {
  @apply px-2;
  @apply bg-gray-50 rounded;
  @apply dark:bg-gray-900;
}

.dark .project-comment_count svg {
  stroke: #fff;
  fill: #fff;
}


/*
Badges
-------------------------------- */
.badge {
  @apply text-2xs leading-none px-1.5 py-0.5 whitespace-nowrap;
  @apply bg-gray-400 bg-opacity-20;
  @apply rounded-full;

  &::before {
    display: none !important;
  }

  .icon {
    @apply mr-1 md:mr-2;
  }

  .cf {
  }

}

/* Sizes */
.badge-lg {
  @apply text-xs px-2 py-0.5;
}

/* Colors */
.badge-red {
  @apply bg-red-500 text-white;
}

.badge-blue {
  @apply bg-blue-500 text-white;
}

.badge-purple {
  @apply bg-purple-500 text-white;
}

/* Type */
.badge-transparent {
  @apply bg-transparent;
}

.badge-coin {
  @apply px-1 rounded;
  @apply text-gray-500 dark:text-gray-200 bg-transparent border border-gray-400 border-opacity-30;
  @apply text-2xs font-semibold;
}

.badge-coin-lg {
  @apply px-2 py-0 shadow-sm;
  @apply text-sm;
}

.badge-rada {
  @apply bg-gradient-to-b from-yellow-400 to-yellow-400 rounded-full;
  @apply text-white;
}

.badge-dapp {
  @apply text-blue-500 hover:border-blue-500 hover:bg-blue-500 hover:text-white;
}

.badge-nft {
  @apply text-purple-500 hover:border-purple-500 hover:bg-purple-500 hover:text-white;
}

.badge-token {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
}

.badge-defi {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
}

/* Event */
.badge.meetup {
  @apply bg-yellow-50 text-yellow-500;
}

.badge.airdrop {
  @apply bg-blue-50 text-blue-500;
}

.badge.launchpad {
  @apply bg-purple-50 text-purple-500;
}

.badge.release,
.badge.intergration {
  @apply bg-green-50 text-green-500;
}

.badge.expired {
  @apply w-auto;
}

/*
Small Badges
*/
.badge-sm {
  @apply border-none rounded-sm rounded-tl-md rounded-br-md text-2xs px-2 pt-1px pb-1px;
  @apply bg-gray-100 border text-gray-500;
}

.badge-sm.badge-dapp {
  @apply text-blue-500 hover:bg-blue-500 hover:text-white;
}

.badge-sm.badge-nft {
  @apply text-purple-500 hover:bg-purple-500 hover:text-white;
}

.badge-sm.badge-token {
  @apply text-yellow-500 hover:bg-yellow-500 hover:text-white;
}

.badge-sm.badge-defi {
  @apply text-yellow-500 hover:bg-yellow-500 hover:text-white;
}

/* Platforms */
.badge-solana {
  @apply text-green-600 hover:border-green-600 hover:bg-green-600 hover:text-white;
  &:hover .cf-sol {
    @apply text-white;
  }
}

.badge-ethereum {
  @apply text-gray-500 hover:border-gray-500 hover:bg-gray-500 hover:text-white;
  &:hover .cf-eth {
    @apply text-white;
  }
}

.badge-cardano {
  @apply text-purple-500 hover:border-purple-500 hover:bg-purple-500 hover:text-white;
  &:hover .cf-ada {
    @apply text-white;
  }
}

.badge-ripple {
  @apply text-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-white;
  &:hover .cf-xrp {
    @apply text-white;
  }
}

.badge-btc {
  @apply text-yellow-500 hover:border-yellow-500 hover:bg-yellow-500 hover:text-white;
  &:hover .cf-btc {
    @apply text-white;
  }
}


/*
Icons Styles
------------------------------ */

.icon {
  @apply inline-block;
  svg {
    width: 1em;
  }
}

.pane-left .icon-rada svg,
.dark .icon-rada svg {
  .inline-rec {
    fill: #6B7280;
  }
  .inline-circle {
    fill: #D1D5DB;
  }
  .inline-stroke {
    fill: #111827;
  }
}

.cf {
}


/* External Indicator */
.ico-external-link {
  @apply transition opacity-0 transform scale-0 group-hover:opacity-100 group-hover:scale-100;
}


/*
Brands Colors
-------------------------------- */
.brand--google {
  background: rgb(219,68,55) !important;
  color: #fff !important;
}

.brand--youtube {
  background: rgb(219,68,55) !important;
  color: #fff !important;
}

.brand--twitter {
  background: rgb(29,161,242) !important;
  color: #fff !important;
}

.brand--telegram {
  background: #1d98dc !important;
  color: #fff !important;
}

.brand--facebook {
  background: rgb(66,103,178) !important;
  color: #fff !important;
}

.brand--discord {
  background: #5865f2 !important;
  color: #fff !important;
}

.brand--linkedin {
  background: rgb(40,103,178) !important;
  color: #fff !important;
}

.brand--instagram {
  background: rgb(193,53,132) !important;
  color: #fff !important;
}

.brand--tiktok {
  background: rgb(0,0,0) !important;
  color: #fff !important;
}

/*
Info Row
-------------------------------- */
.info-row {
  @apply flex items-center justify-between relative;
}

.info-row + .info-row {
  @apply mt-2;
}

.info-row--title {
  @apply text-xs;
}

.info-row--value {
  @apply flex justify-center items-center;
  @apply text-sm;
}

.info-row--value .currency-ada {
  @apply ml-1 text-xs;
}


/* Currency
-------------------------------- */
.currency-ada svg {
  stroke: #111827;
}

.dark .currency-ada svg {
  stroke: white;
}


/* 
Avatars 
-------------------------------- */
.avatar,
.avatar-sm,
.avatar-lg,
.avatar-xs,
.avatar-2xs {
  @apply inline-flex flex-shrink-0 justify-items-center items-center justify-center overflow-hidden;
  @apply ring-1 ring-gray-400 ring-opacity-20 rounded-full;
  img {
    @apply w-full h-full object-cover rounded-full;
  }
}

.avatar {
  @extend %Img40;
}

.avatar-sm {
  @extend %Img32;
  @apply ring-1;
}

.avatar-xs {
  @extend %Img24;
  @apply ring-1;
}

.avatar-2xs {
  @extend %Img16;
  @apply ring-1;
}

.avatar-lg {
  @extend %Img48;
}

.avatar-xl {
  @extend %Img64;
}

.avatar-2xl {
  @extend %Img80;
}

.avatar-3xl {
  @extend %Img128;
}


/*
Comment
-------------------------------- */
.comments-list {
  @apply py-2 text-sm;
}

.comments-list-item {
  @apply flex flex-col items-stretch;
  @apply mt-6 w-full relative;
}

.comment,
.comment-form,
.comment-reply-form {
  @apply flex relative;
}

.comment_reply {
  @apply pt-4 pl-11;
}

.comment-main {
  @apply flex-1;
}

.comment-text {
  @apply inline-flex p-2 rounded-lg;
  @apply bg-gray-100 dark:bg-gray-700;
}

.comment-footer {
  @apply mt-2 space-x-3 md:space-x-4 flex flex-wrap items-center justify-between text-xs;
}

.user-wallet--title {
  @apply text-sm font-semibold whitespace-nowrap;
}

/* 
Comment Forms 
*/
.comment-form {
  @apply flex;
}

.comment-reply-form {
  @apply pt-4 pb-2 pl-11 relative;
}

.comment-reply-form textarea {
}

/*
Avatars
*/
.comment .avatar,
.comment .avatar-sm,
.comment .avatar-xs {
  @apply mr-3 mt-0.5 ring-2 ring-white dark:ring-deepgray-50;
  z-index: 2;
}

.comment-form,
.comment-reply-form {
  .avatar,
  .avatar-sm,
  .avatar-xs {
    @apply mr-2 mt-0.5;
    z-index: 2;
  }
}

.comment .avatar {
  @apply ring-4 ring-white dark:ring-deepgray-50;
}

/* 
Comment Trail
*/
.comment-trail {
  @apply block absolute border-b-2 border-l-2 border-gray-100 dark:border-gray-800;
  top: 0;
  left: 16px;
  width: 26px;
  height: calc(100% + 32px);
  content: " ";
  border-bottom-left-radius: 12px;
  z-index: 1;
}

.no-reply .comment .comment-trail {
  @apply opacity-0;
}

.no-reply.has-reply-form .comment .comment-trail {
  @apply opacity-100 border-b-0;
}

.no-reply .comment-reply-form .comment-trail {
  top: -60px;
}

.comments-list-item:hover .comment .comment-trail,
.comments-list-item:hover .comment-reply-form .comment-trail {
  @apply border-primary-100 dark:border-primary-900;
}

.comment_reply:last-child .comment-trail {
  display: none;
}

/* 
Pricing & Market 
------------------------------------ */
.pricing {
  @apply flex items-end relative;
}

.pricing-value {
  @apply font-semibold text-4xl leading-none truncate tracking-wide;
}

.pricing-indicator {
  @apply flex items-center ml-2 px-2 py-0 relative;
  @apply text-base rounded-md;
  .fa-solid {
    @apply text-sm relative;
  }
}

.pricing-indicator[type="up"] {
  @apply text-green-500;
  .fa-solid {
    @apply -bottom-0.5;
  }
}

.pricing-indicator[type="down"] {
  @apply text-red-500;
}

/* Small Pricing */
.pricing-sm {

  @apply items-center bg-transparent;

  .pricing-value {
    @apply font-normal text-base tracking-normal;
  }
  .pricing-indicator {
    @apply ml-2 px-1 py-0 top-0;
    @apply text-base rounded-md;
  }
  .pricing-indicator[type="up"] {
    @apply text-green-500 bg-transparent;
  }
  .pricing-indicator[type="down"] {
    @apply text-red-500 bg-transparent;
  }
}

/* Partner List 
--------------------------------- */
.list-partners {
  @apply flex lg:justify-center items-center; 
}

.list-partners div {
  @apply flex justify-center items-center h-px-96 px-4 mr-4 mb-4 rounded-lg;
  @apply bg-gray-100;
}

.list-partners div img {
  @apply h-px-64 rounded-lg object-cover;
  max-width: 100%;
}

@media (max-width: 767px) {
  .list-partners div {
    width: calc(50% - 1rem);
  }
}

/* Post Notice
--------------------------------- */
.post-notice {
  @apply bg-primary-50 dark:bg-gray-700;
  @apply px-4 py-2 mt-8 -mb-2 rounded-lg text-sm;
}


/* 
Popper
------------------------------- */
.popper {
  @apply z-50 flex flex-col w-full h-full relative py-2 rounded-md shadow-md;
  @apply border border-gray-200 dark:border-gray-900 bg-white dark:bg-gray-800;
  min-width: 100px;
  top: 32px;
}

.popper-close-btn {
  @apply absolute right-1 top-1 opacity-50 hover:opacity-100;
}

.popper-header,
.popper-body,
.popper-footer {
  @apply px-4;
}

.popper-header {
  @apply flex items-center pb-2 pt-2;
}

.popper-footer {
  @apply flex items-center pb-2;
}

.popper-author-info {
  @apply block top-0;
  width: 20rem;
  transition-property: all;
}

/* 
Popper used as a menu
*/
.popper-item {
  @apply py-2 px-2 text-center cursor-pointer;
  @apply text-sm font-medium hover:text-primary-700 dark:hover:text-primary-500;
}

/* 
Social Button Lists
*/
.about-social {
  @apply flex items-center space-x-4 mt-4;
}

.about-social-sm {
  @apply space-x-2 mt-1;
}

.about-social a {
  @apply flex flex-col justify-center items-center w-px-32 h-px-32 rounded-full;
  @apply bg-gray-400 bg-opacity-10 text-gray-700 dark:text-gray-200;
  @apply hover:bg-primary-500 hover:text-white;
}

.about-social-sm a {
  @apply w-px-24 h-px-24;
  i {
    @apply text-xs;
  }
}