/* 
Set a default styles for core elements
*/
/*
Global Styles
*/
html {
  @apply h-full;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100 dark:bg-gray-700 h-full overflow-hidden;
}

#__next {
  @apply w-full h-full;
}

/* 
Links 
*/
a {
  @apply transition-colors duration-200;
}

.link,
.post-content a {
  /* Seperating each at.apply for clearer declaration */
  /* This is for visual option */
  @apply text-primary-700 hover:text-primary-700 transition;
  @apply border-b border-primary-700 border-opacity-20 hover:border-opacity-100;
  @apply dark:text-white dark:hover:text-white;
  @apply dark:border-white dark:border-opacity-50 dark:hover:border-opacity-100;
}

.link-text {
  @apply text-gray-700 hover:text-gray-900;
}

.link-text-bold {
  @apply text-gray-700 hover:text-gray-900;
  @apply font-medium;
}