/* 
Navbar 
--------------------------------------------- */
.navbar {
  @apply relative flex flex-col w-full h-full;
}

.navbar-main {
  height: var(--navbar-height);
  @apply flex justify-evenly lg:flex-col w-full lg:h-auto;
}

/* 
Nav Item
*/
.nav-item {
  @apply relative flex flex-col lg:flex-row items-center w-full h-full px-1.5 py-0.5 lg:py-2 transition;
  @apply font-medium whitespace-nowrap;
  @apply opacity-80;
  @apply hover:opacity-100;
}

.nav-item .icon {
  @apply w-8 h-4;
  @apply relative inline-flex justify-center mt-1.5 mb-2 lg:my-0 lg:mr-1.5 lg:-top-0.5 text-center;
  @apply text-lg lg:text-base leading-none;
  .fa-duotone {
    @apply relative;
  }
}

/* Rada Nav */
.nav-item .icon-rada svg {
  transform: scale(1.18);  /* make the svg bigger */
}

.nav-item--text {
  @apply text-2xs lg:text-sm;
}

/* 
Nav Item Active 
*/
.nav-item-active {
  @apply text-primary-700 text-opacity-100;
  @apply dark:text-primary-400 dark:text-opacity-100;
  @apply opacity-100;
}

.pane-bottom .nav-item-active .icon-rada svg {
  .inline-circle {
    fill: #6D28D9;
  }
  .inline-rec {
    fill: #A78BFA;
  }
  .inline-stroke {
    fill: #F9FAFB;
  }
}

.nav-item-active .icon-rada svg,
.dark .nav-item-active .icon-rada svg,
.pane-left .nav-item-active .icon-rada svg {
  .inline-rec {
    fill: #8B5CF6;
  }
  .inline-circle {
    fill: #DDD6FE;
  }
  .inline-stroke {
    fill: #111827;
  }
}

/* 
Nav Item Addons
*/
.nav-item--badge {
  @apply text-3xs rounded-full absolute;
  @apply bg-red-500 text-white;
  padding: 3px;
  top: 10px;
  right: auto;
  left: auto;
}

@screen lg {
  .nav-item--badge {
    top: 0;
    right: 20px;
  }
}

.nav-item--divider {
  @apply hidden lg:block h-1 mt-2 mb-2 border-t border-gray-500 border-opacity-10;
}


/* 
Tabbar
--------------------------------------------- */
.tabbar {
  @apply flex justify-between w-auto relative;
}

.tabbar--main {
  @apply flex items-center space-x-4 lg:space-x-6;
}

.tab-item {
  @apply flex justify-center items-center px-1 py-0 transition-all relative whitespace-nowrap h-full;
  @apply font-medium opacity-70 hover:opacity-100;
  .icon {
    @apply text-lg lg:text-sm lg:mr-2;
  }
  .token-symbol {
    @apply filter grayscale;
  }
}

.tab-item:after {
  @apply block absolute bottom-0 left-auto right-auto;
  @apply bg-primary-700 dark:bg-primary-500;
  content: " ";
  height: 0;
  width: 100%;
  transition: all 200ms ease-in;
}

/* .tab-item:hover::after {
  height: 3px;
  @apply bg-gray-500 dark:bg-gray-200;
} */


.tab-item--text {
  @apply hidden lg:block;
}

.tab-item--divider {
  @apply block;
  @apply bg-gray-400 bg-opacity-50;
  height: 1rem;
  width: 1px;
}

.tab-item--active {
  @apply opacity-100 text-primary-700 dark:text-primary-400 font-medium pointer-events-none;
  &::after {
    height: 3px;
  }
  .token-symbol {
    @apply filter grayscale-0;
  }
}

/* Tab Group */
.tabbar-group {
  @apply flex items-center space-x-1 p-0 rounded-md;
  @apply bg-gray-400 bg-opacity-10;
  padding: 1px;
}

.tabbar-group .tab-item,
.tabbar-group-title {
  @apply px-2 py-1 rounded-md;
  @apply font-medium;
}

.tabbar-group-title {
  @apply bg-white opacity-100;
}

/* Sub Tabbar */
.tabbar-sub {
  @apply flex justify-between w-full relative;
  @apply bg-white dark:bg-gray-900 bg-opacity-90 backdrop-blur border-b border-gray-400 border-opacity-10;
  animation: fadein 600ms linear;
}

.tabbar-sub--main {
  @apply flex w-full items-center space-x-4;
  .tab-item {
    @apply w-auto py-2;
  }
}
