/* 
Pages
--------------------------------------------- */

/* 
Page Layout
--------------------------------------------- */
.page {
  @apply w-full h-full relative;
  /* @apply max-w-screen-md m-auto; */
  /* @apply bg-white dark:bg-gray-900; */
}

.page-header {
  @apply md:flex;
}

.page-title {
  @apply text-xl md:text-2xl font-semibold mb-1;
}

.page-back {
  @apply flex items-center;
}

.pane-content--sec--top .page-back,
.page .page-back {
  @apply -ml-2 md:-ml-1 xl:ml-2;
  @apply xl:absolute xl:right-12 xl:top-2;
}

.page-tabs,
.page-subtabs {
  @apply text-sm;
}

.page-subtabs {
  @apply px-4 md:pl-6 xl:pl-16;
}

@media (max-width: 639px) {
  .page-subtabs {
    @apply fixed z-10;
    top: var(--toolbar-height);
  }
}

/* .page-details .page-tabs {
  @apply flex; Temporary Hide the Tab on Home
} */

.page-back + .page-tabs {
  @apply ml-2 xl:ml-12;
}

/* 
Page Full 
*/
.page-full {
  @apply flex justify-center px-2 py-4 lg:py-8;
  /* @apply bg-white dark:bg-gray-900; */

  .page-full--inner {
    @apply flex flex-col w-full h-full max-w-screen-sm;
    .card {
      @apply h-auto;
    }
  }

  .page-section {
    @apply pt-4;
  }

  .post-content {
    @apply px-2;
  }
}


/* 
Page Projects
*/
.page-projects-list,
.page-project-details {
  &.page-full {
    @apply bg-gray-50 dark:bg-gray-900;
  }
}


/*
Empty State - About Page
--------------------------------------------- */
.page-about {
  @apply flex flex-col justify-center h-full relative max-w-sm m-auto;
  @apply text-sm;
}

.page-about-deco {
  @apply hidden absolute float-right z-0;
  background-image: url("https://source.unsplash.com/random");
}

@media screen and (min-height: 768px) {
  .page-about-deco {
    @apply block;
  }
}

.page-about-content {
}

.page-about p {
   @apply mb-4 text-gray-500 dark:text-gray-400;
}

.page-about h3 {
  @apply font-semibold text-lg mb-4 text-gray-700 dark:text-gray-300;
}

.page-about p + h3 {
  @apply mt-8;
}

.page-about u {
  @apply font-semibold;
  text-decoration: none;
}

.page-about-content--section {
  @apply pb-2;
  .icon {
    @apply hidden justify-center items-center flex-shrink-0 text-sm mr-4 -ml-10 rounded-full;
    width: 28px;
    height: 28px;
  }
}

.content-section--1 .icon {
  @apply bg-purple-100 text-primary-700;
}

.content-section--2 .icon {
  @apply bg-yellow-100 text-yellow-500;
}

.about-social i {
  @apply text-base;
}

.about-links {
  @apply flex mb-4 pt-4;
  li {
    @apply flex;
  }
  li + li {
    @apply ml-2;
  }
  li + li::before {
    @apply block mr-2 text-xl leading-5 opacity-50;
    content: "\00B7";
  }
}

.about-links a {
  @apply text-gray-400 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-300;
}


/* 
Sections
--------------------------------------------- */
/* 
Media 
*/
.media-player {
}


/* 
Comments List 
*/
.section-comments {
  @apply border-t border-gray-500 border-opacity-10;
}

/* 
Coins 
*/
.section-coininfo--general,
.section-coininfo--team {
  animation: fadein 600ms linear;
}

.section-coininfo--general {
  .btn {
    @apply mr-2 mb-2;
  }
  .btn:last-child {
    @apply mr-0;
  }
}

/* 
Post Details
--------------- */
.post {
}

.post-header {
  @apply flex flex-col;
}

.post-body {}

.post-detail {}


.post-detail-news {
}

/* 
Title 
*/
.post-title {
  @apply mb-2;
}

.post-title {
  .badges-tags {
    @apply relative mb-2 flex items-start;
  }
  .badge-rada {
    @apply inline-block rounded-full px-2 text-sm;
  }
  .badge-coin {
    @apply ml-2;
  }
}

.post-title--text {
  @apply transition mr-2;
}

.post-title:hover .post-title--text {
  /* @apply text-primary-700 dark:text-primary-500; */
}

.post-title .btn-post-link {
  @apply relative transition;
  top: -2px;
}

.post-title:hover .btn-post-link {
  @apply text-primary-700 dark:text-primary-500 opacity-100;
}

.post-detail-social .post-title {
  @apply line-clamp-2 overflow-ellipsis;
}

/* 
Metadata 
*/
.post-header .metadata-wrapper {
  @apply text-sm justify-between items-center;
}

.post-header .metadata {
}

.post-header .metadata-source {
  @apply text-gray-800 dark:text-gray-200;
}

.post-header .metadata-source .metadata-value {
  max-width: 160px;
  @apply whitespace-nowrap md:max-w-none overflow-hidden overflow-ellipsis;
}


/* 
CTAs 
*/
.post-detail .cta-wrapper {
  @apply flex text-gray-900 dark:text-gray-200;
}

.post-detail .cta-wrapper .btn {
  @apply text-sm leading-none relative;
}

.post-detail .cta-wrapper .btn-post-vote {
}

/*
Media
*/
.post-media {
  @apply w-full max-h-56 lg:max-h-72 overflow-hidden lg:rounded-lg mt-4;
}

.post-media--img {
  @apply object-cover w-full h-full;
}

.post-detail-media .post-media {
  @apply -mx-4 md:-mx-6 lg:mx-auto w-auto mt-0 mb-8 max-h-full;
}

/*
Content
*/
.post-content {
}


/* Post Actions */
.post-actions {
  @apply mt-8;
}