/*
Typography Styles 
*/

/* 
Core Contents
----------------------------------- */
body {
  @apply text-gray-700 dark:text-gray-300;
}

.text-color-title,
.comment-text,
.post-title--text,
.post-content h2,
.post-content h3,
.post-content h4,
.card-header h3 {
  @apply text-gray-800 dark:text-gray-200;
}

.text-color-desc,
.metadata-wrapper,
.navbar-search--input::placeholder,
.comment-footer {
  @apply text-gray-800 text-opacity-50 dark:text-gray-200 dark:text-opacity-50;
}

strong {
  @apply font-semibold;
}

/* Headings
-----------------------------------*/
h2.heading-2 {
  @apply text-lg font-semibold;
}


/* 
Post Content Typo
----------------------------------- */
.post-title h1 {
  @apply text-xl lg:text-2xl font-semibold;
}

.post-detail-media .post-content--text {
  @apply whitespace-pre-wrap text-sm;
  word-break: break-word;
}

.post-content p,
.post-content ul,
.post-content div,
.post-content ol,
.post-content figure, 
.post-content blockquote,
.post-content hr,
.post-content table,
.post-content iframe {
  @apply mb-5 max-w-full;
  word-break: break-word; 
}

.post-content a {
  word-break: break-word;
}

.post-detail-media .post-content a {
  word-break: break-all; /* Fix Youtube content */
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content .pTitle,
.post-content .pHead {
  @apply font-semibold mb-5;
}

.post-content h2,
.post-content .pTitle {
  @apply text-lg lg:text-xl;
}

.post-content h2.text-2xl {
  @apply text-2xl;
}

.post-content * + h2,
.post-content * + .pTitle,
.post-content * + h3 {
  @apply mt-8;
}

.post-content h3,
.post-content .pHead {
  @apply text-base lg:text-lg;
}

.post-content h4 {
  @apply text-base;
}

.post-content {
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong {
    @apply font-semibold;
  }
}

.post-content ul,
.post-content ol,
.post-rada ol,
.post-rada ul {
  @apply ml-3 pl-2;
  list-style: revert;
}

.post-content li,
.post-rada li {
  @apply py-1;
}

.post-content img {
  @apply max-w-full text-center mx-auto rounded-lg;
}

.post-content .image-frame {
  @apply p-4 rounded-lg bg-gray-100 dark:bg-gray-800;
}

.post-content figcaption,
.post-content .pCaption {
  @apply text-center mt-2 text-xs;
}

.post-content pre {
  @apply whitespace-pre-wrap;
}

.post-content blockquote,
.post-content blockquote.twitter-tweet {
  @apply border-l-4 border-purple-500 px-4 relative;
  @apply font-semibold;
}

.post-content blockquote p:first-child {
  @apply mt-0;
}

.post-content blockquote p:last-child {
  @apply mb-0;
}

.post-content blockquote.twitter-tweet {
  @apply bg-blue-50 dark:bg-blue-900 dark:bg-opacity-50 border border-gray-400 border-opacity-40 font-normal rounded py-4;
  p {
    @apply !mb-2;
  }
  p:last-child {
    @apply font-semibold;
  }
}

/* Page Styles */
.page-full .post-title {
}

.page-full .post-content img {
  @apply bg-gray-100 p-4 my-6 rounded-lg;
  @apply w-full max-h-full rounded-md;
}

/* Tweaks 
--------------------------------------- */
.post-content blockquote.twitter-tweet,
.post-content .wp-caption {
  @apply !w-full;
}

.post-content blockquote.twitter-tweet p:first-child:before {
  @apply block float-right relative right-0 -top-1;
  @apply text-blue-500 text-lg rounded-sm;
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

.post-content .twitter-tweet-rendered {
  @apply !my-4 rounded-xl overflow-hidden;
}

.post-content .twitter-tweet-rendered iframe {
  @apply mb-0;
}

.post-content .wp-smiley {
  @apply hidden;
}

.post-content .related-list__title {
  @apply font-semibold;
}

.post-content .advertised {
  .ad-placeholder {
    @apply text-2xs;
  }

}


/* source: cointelegraph */
.post-content .related-list {
  div {
    @apply my-0;
  }
  .related-list__title {
    @apply mb-4;
  }
  .related-list__item-title {
    @apply inline;
  }
  .related-list__item-image {
    @apply !hidden;
  }
}

/* source: blogtienao */
.post-content .td_module_wrap {
  @apply flex items-center;
}

.post-content .td-module-thumb {
  @apply mr-4;
}

.post-content .td-module-title {
  @apply mb-1;
}

.post-content .ccpw-live {
  @apply !hidden;
}


/* Hide unwanted elements */
.post-content {
  .tdb_single_post_share,
  .tdb_breadcrumbs,
  .tdb_single_categories,
  .tdb-single-title,
  .tdb-post-meta {
    @apply !hidden;
  }
}


/* RADA Posts 
-------------------------------- */
.post-rada {
  img + em {
    @apply flex justify-center w-full text-xs not-italic mt-2;
  }
}

.post-footer--rada {
  @apply w-auto pt-8 lg:p-8 mt-8 bg-transparent lg:bg-gray-50 lg:dark:bg-gray-700 lg:rounded-lg;
  @apply border-t border-gray-400 border-opacity-10 lg:border-0;
  div {
    @apply mb-2;
  }
}

.post-rada .media-player,
.section-coininfo--general .media-player {
  @apply -mx-4 w-auto max-w-none md:-mx-6 lg:mx-auto aspect-w-16 aspect-h-9 lg:rounded-lg overflow-hidden;
}

.post-footer--rada .btn-default {
  @apply h-px-32 lg:w-auto px-2 lg:px-3;
  @apply border-transparent dark:border-transparent hover:border-transparent dark:hover:border-transparent;
  @apply opacity-100 hover:opacity-80;
  .btn--text {
    @apply text-xs;
  }
  .icon {
    @apply text-sm leading-none;
  }
  .fa-telegram {
    @apply text-lg;
  }
}
