/*
Even more custom variables here
*/

:root {
  --paneleft-width: 7rem;
  --navbar-height:  3rem;
  --toolbar-height: 3rem;
  --topbar-height:  3rem;
  --topbar-heightx2:  6rem;
  --tabbar-height:  3rem;
  --main-width:     40%;
}