@import '_presets';

/* 
Layout 
--------------------------------*/
.main-layout--wrapper {
  @apply w-full h-full 2xl:p-4;
}

.main-layout {
  @apply flex flex-col lg:flex-row h-full w-full items-stretch overflow-hidden;
  @apply max-w-screen-2xl 2xl:mx-auto 2xl:rounded-2xl;
  animation: fadein 400ms linear;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.1);
}

.body-decor,
.body-decor--text {
  @apply hidden 2xl:block;
}

@screen 2xl {
  .body-decor {
    @apply fixed inset-0 w-full h-full -z-1;
    @apply filter brightness-50;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .body-decor--text {
    @apply absolute right-4 bottom-4 px-4 py-2 rounded;
    @apply bg-gray-900 bg-opacity-50 text-white text-opacity-70 text-xs;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
  }
  .body-decor--text a {
    @apply hover:text-white hover:text-opacity-100 border-b border-b-white border-opacity-50 hover:border-opacity-100;
  }
  .body-decor--text a + a {
      @apply ml-4;
    }
}

/* 
Nav Panels 
*/
.pane-left {
  @apply flex flex-shrink-0 flex-col justify-between h-full;
  @apply border-r border-gray-400 border-opacity-20;
  @apply bg-gray-800 2xl:bg-opacity-70 2xl:dark:bg-opacity-50 2xl:backdrop-blur-md;
  @apply w-32 z-50;
  /* width: var(--paneleft-width); */
  /* flex-basis: var(--paneleft-width); */
}


.pane-left--bottom {
  @apply justify-between items-center px-2 py-2;

  .btn {
    @apply justify-start flex-shrink-0;
  }

  .btn .btn--text {
    @apply text-sm;
  }

  .btn.btn-login {
    @apply bg-transparent border-0 max-h-16;
    .icon {
      @apply text-base;
    }
    .btn--text {
      @apply whitespace-nowrap;
    }
  }

  .dropdown-wrapper {
    @apply w-full text-center;
    .btn.btn-login {
      @apply p-1 rounded-full max-h-16 hover:ring-2 focus:ring-2 hover:ring-primary-500 focus:ring-primary-500;
      .btn--text {
        @apply hidden;
      }
      .avatar {
        @apply w-px-40 h-px-40;
      }
    }
  }

  .dropdown {
    bottom: 52px;
    right: -90%;
  }
  .popper {
    top: -88px;
    width: 112px;
  }
}

.pane-left--bottom-section {
  @apply flex justify-between border-t border-gray-400 border-opacity-20 items-center pt-2 mt-2 mx-1;

  .btn.btn-switch-lang,
  .btn.btn-switch-theme {
    @apply bg-transparent border-0 px-1 w-auto;
  }

  .btn.btn-switch-lang {
    @apply justify-between;
    .icon {
    }
    .btn--text {
    }
  }

  .btn.btn-switch-theme {
    .btn--text {
      @apply hidden;
    }
  }

}

/* Overwrite Light Theme Color */
.pane-left .nav-item,
.pane-left--bottom .btn {
  @apply text-white dark:text-white opacity-70 dark:opacity-70 hover:opacity-100 dark:hover:opacity-100;
}

.pane-left .nav-item-active {
  @apply text-primary-400 opacity-100;
  @apply dark:text-primary-400 dark:opacity-100;
}


/* 
Navbars on Mobile Tablet
*/
.pane-bottom {
  @apply flex justify-between w-full h-auto order-last;
  @apply bg-gray-50 dark:bg-gray-800 z-50;
  flex-basis: var(--navbar-height);
}

@media (max-width: 767px) {
  .page-details .pane-bottom {
    @apply hidden; /* Hide Mobile Navbar for more immersive look */
  }
}


/* 
Main Panels
*/
.pane-center {
  @apply flex flex-auto flex-col transition z-40;
  /* @apply lg:border-r border-gray-400 border-opacity-20; */
}

/* Add Color to Topbar on Mobile and Tablet */
@media (max-width: 1023px) {
  .pane-center {
    @apply bg-gradient-to-r from-primary-50 to-yellow-50 dark:from-primary-800 dark:to-primary-900;
  }
}

.pane-center--top {
  @apply flex flex-shrink-0 mt-0 z-10;
}

.pane-center--main {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  @apply flex w-full h-full;
  @apply rounded-t-xl lg:rounded-none lg:shadow-none overflow-hidden;
}

@media (max-width: 1023px) {
  .dark .pane-center--main {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5 ); /* Increase shadow on Dark Theme */
  }
}

.pane-content {
  @apply w-full h-full;
}

.pane-content--main {
  @apply relative float-left w-full;
  @apply flex flex-col w-full h-full;
  @apply md:border-r border-gray-100 dark:border-gray-700 dark:border-opacity-90;
}

@screen lg {
  .pane-content--main {
    width: var(--main-width);
  }
}

.pane-content--main--top,
.pane-content--sec--top {
  @apply flex px-4 justify-between items-center flex-shrink-0 relative;
  @apply bg-white dark:bg-gray-800;
  height: var(--toolbar-height);
}

.pane-content--main--top {
  @apply border-b border-gray-400 border-opacity-20;
}


/* Hide content toolbar on Tablet */
.pane-content--sec--top {
  @apply hidden;
  @apply border-b border-gray-400 border-opacity-20;
}

/* Unhide content toolbar when Reading */
.page-details .pane-content--sec--top {
  @apply flex;
}

 
/* 
Card List Area
*/
.pane-content--main--main {
  @apply flex flex-auto flex-col w-full h-0;
  @apply bg-white dark:bg-gray-800;
}

@screen lg {
  .pane-content--main--main {
    height: calc(100vh - var(--toolbar-height));
  }
}

/* 
Reader / Page Area
*/
.pane-content--sec {
  @apply float-left w-full z-10;
  @apply hidden flex-auto lg:flex flex-col;
}

@screen lg {
  .pane-content--sec {
    width:  calc(100% - var(--main-width));
    height: calc(100vh - var(--topbar-height) - var(--topbar-height));
  }
  .pane-projects {
    width:  100%;
    height: calc(100vh - var(--topbar-height) - var(--topbar-height));
  }
}

@screen lg {
  .pane-content--sec {
    /* width: 55%; */
    @apply h-full;
  }
}

@media (max-width: 1023px) {
  .pane-content--sec.pane-content-active {
    @apply fixed flex;
    right: 0;
    top: var(--topbar-height);
    bottom: 0;
  }
}

.pane-content--sec--main {
  @apply w-full h-full;
  @apply bg-white dark:bg-gray-800;
  /* @apply 2xl:bg-opacity-95 2xl:dark:bg-opacity-80 2xl:backdrop-blur; */
}


/* 
Layout Uitlites 
*/

/* Width Limiter for Pane / Page on Extra Wide Screen */
.w-limiter {
  @apply w-full max-w-screen-md mx-auto;
}

.w-limiter-lg {
  @apply w-full max-w-screen-lg mx-auto;
}


/* 
Main Layout when scrolling
--------------------------------------------- */
@media (max-width: 767px) {

  .pane-center--top {
    transition: margin-top 150ms linear;
  }

  /* Post Lists */
  .list-away-top {
    .pane-center--main {
      @apply rounded-none;
    }

    .pane-center--top {
      margin-top: calc( -1 * var(--topbar-height));
    }

  }

  /* .pane-content--main--top,
  .pane-content--sec--top {
    transition: all 150ms linear;
    transition-delay: 300ms;
  } */

  .list-away-top,
  .page-details {
    .pane-content--main--top,
    .pane-content--sec--top {
      @apply fixed top-0 inset-x-0 z-50;
      @apply bg-opacity-80 dark:bg-opacity-80 backdrop-blur;
    }
  }

  /* Reader Lists  */
  .list-away-top.page-details,
  .page-details {

    .pane-content--sec.pane-content-active {
      @apply top-0;
    }

    .pane-center--top,
    .pane-content--main--top {
      @apply hidden;
    }

    .pane-content--sec--main {
      padding-top: var(--topbar-height);
    }

  }

}


/* 
Top & Tool Bars
--------------------------------------------- */
.topbar {
  @apply flex lg:hidden justify-between items-center px-4 w-full;
  height: var(--topbar-height);
}

.logo {
  @apply flex justify-center;
}

.navbar .logo {
  @apply py-6 justify-start;
}

.logo--img {
  @apply block w-auto h-8;
}

.topbar .logo--img {
  @apply w-px-24;
}

.logo--text {
  @apply bg-gradient-to-b from-yellow-400 to-yellow-500 font-bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Inter", sans-serfif;
}

.logo--badge {
  @apply text-3xs mt-0.5 leading-3 px-2 py-0.5 rounded-full;
  @apply bg-gray-600 text-gray-200;
}

.topbar .logo--badge {
  @apply ml-1.5 -mt-0.5;
}

/* Toolbar */
.pane-content--main--top .search-wrapper {
  @apply mr-2 w-full;
}

.pane-content--main--top .cta-wrapper {
  @apply flex-shrink-0;
}

/* 
Sidebar
--------------------------------------------- */
.sidebar {
  @apply xl:p-4;
}

/* 
Sections Layout
--------------------------------------------- */
.section {
  @apply px-4 pt-6 pb-6 md:p-6 xl:px-16 xl:py-8;
}

.section-header {
  @apply flex justify-between;
}

.section-title {
  @apply flex flex-wrap;
  @apply font-medium
}

.section-title strong {
  @apply font-medium;
  border-bottom: 1px dotted;
}

.section-body {
  @apply pt-8;
}

.section-footer {
  @apply flex justify-between items-center;
  @apply px-4 py-4 md:px-8 md:py-6;
  @apply border-t border-gray-500 border-opacity-10;
}

.section-cta {
  @apply text-sm font-medium;
  @apply flex mt-0 justify-between items-center;
}

.section-cta .btn {
  @apply text-sm font-normal;
}

.section-cta .btn-group + .btn-group {
  @apply ml-4;
}


/* 
Components
--------------------------------------------- */
/* 
Dialogs 
*/
.dialog-outside-wrapper {
  @apply fixed inset-0 z-50 overflow-y-auto;
}

.dialog-outside {
  @apply text-center;
}

.dialog-overlay {
  @apply bg-gray-200 dark:bg-gray-900 bg-opacity-80 dark:bg-opacity-80 backdrop-blur-lg;
}

.dialog {
  @apply max-w-xs md:max-w-xl overflow-hidden text-left align-middle;
  @apply text-left bg-gray-50 dark:bg-gray-800 shadow-xl rounded-lg;
}

.dialog-wrapper {
  @apply block md:flex;
}

.dialog .divider {
  @apply relative my-6 text-center;
}

.dialog .divider::before {
  @apply absolute block w-full bg-gray-500 bg-opacity-20 -z-1;
  content: " ";
  height: 1px;
  bottom: calc(50% - 0.2rem)
}

.dialog .divider span {
  @apply bg-gray-50 dark:bg-gray-900 text-xs uppercase z-0 px-4;
}


/* 
Content Loader 
*/
.content-loader {
  @apply p-0;
}

.content-loader svg {
  @apply w-full opacity-50;
}

/* 
Tootips 
*/
.hasTooltip {
  @apply cursor-pointer;
  i {
    @apply ml-0.5 text-base;
  }
}

.__react_component_tooltip {
  @apply max-w-xs shadow-lg backdrop-filter backdrop-blur;
  padding: 4px 8px !important;
  background: #FEF3C7 !important;
  color: #111827 !important;
  font-size: 0.875rem !important;
  &::after {
    border-color: transparent !important;
  }
}


.__react_component_tooltip.show {
}


/*
Perfect Scrollbar
*/
.scrollbar {
  @apply relative overflow-x-hidden overflow-y-visible;
  -webkit-overflow-scrolling: touch;
  /* -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; */
}

@media (hover: hover) and (pointer: fine) {
  .scrollbar::-webkit-scrollbar {
    @apply w-1.5 bg-gray-200 dark:bg-gray-900 bg-opacity-20 dark:bg-opacity-20;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 dark:bg-gray-700 bg-opacity-40 transition-all;
    border-radius: 18px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-500;
  }
}


/* 
Uitilities 
*/
.hidden {
  display: none;
}

.disabled {
  @apply opacity-20 pointer-events-none cursor-not-allowed;
}

.nav-item.disabled {
  @apply opacity-20;
}

.search-not-found{
  @apply flex justify-center my-8;
}

 
/* 
Dragger  
*/
.pane-dragger {
  @apply hidden md:block absolute h-full w-2 -right-2 top-0 z-50;
  @apply border-l-2 border-dashed border-primary-500 opacity-0 hover:opacity-100 transition;
  transition-delay: 0.2s;
  cursor: col-resize;
}

.pane-dragger.dragging {
  user-select: none;
}